<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://java.sun.com/xml/ns/persistence"
             version="1.0"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">

    <persistence-unit name="miniWikiPersistenceUnit"
                      transaction-type="RESOURCE_LOCAL">
        <description>MiniWiki Persistence Unit</description>
        <provider>org.apache.openjpa.persistence.PersistenceProviderImpl</provider>
        <class>org.tmjee.miniwiki.core.domain.Queries</class>
        <class>org.tmjee.miniwiki.core.domain.Attachment</class>
        <class>org.tmjee.miniwiki.core.domain.Group</class>
        <class>org.tmjee.miniwiki.core.domain.GroupProperty</class>
        <class>org.tmjee.miniwiki.core.domain.Page</class>
        <class>org.tmjee.miniwiki.core.domain.PagePriviledge</class>
        <class>org.tmjee.miniwiki.core.domain.PagePriviledgeValue</class>
        <class>org.tmjee.miniwiki.core.domain.PageProperty</class>
        <class>org.tmjee.miniwiki.core.domain.PreviousVersion</class>
        <class>org.tmjee.miniwiki.core.domain.Space</class>
        <class>org.tmjee.miniwiki.core.domain.SpacePriviledge</class>
        <class>org.tmjee.miniwiki.core.domain.SpacePriviledgeValue</class>
        <class>org.tmjee.miniwiki.core.domain.User</class>
        <class>org.tmjee.miniwiki.core.domain.UserProperty</class>
        <class>org.tmjee.miniwiki.core.domain.Wiki</class>
        <class>org.tmjee.miniwiki.core.domain.WikiProperty</class>
        <class>org.tmjee.miniwiki.core.domain.WikiPriviledge</class>
        <class>org.tmjee.miniwiki.core.domain.WikiPriviledgeValue</class>
        <exclude-unlisted-classes/>
        <properties>

            <!-- we are using commons-logging for logging, see below
            <property name="openjpa.Log"
                      value="DefaultLevel=WARN,
                             Enhance=INFO,
                             MetaData=INFO,
                             Runtime=INFO,
                             Query=TRACE,
                             DataCache=INFO,
                             JDBC=INFO,
                             SQL=TRACE,
                             Schema=INFO,
                             Tool=INFO"/>
            -->
            <property name="openjpa.Log" value="commons" />

            <!--
                DESCRIPTION:
                    Pretty print sql statements
            -->
            <property name="openjpa.ConnectionFactoryProperties"
                      value="PrettyPrint=true, PrettyPrintLineLength=72"/>

            <!--
                DESCRIPTION:
                    warn when there's inconsistency in bi-directional relationship
            -->
            <property name="openjpa.InverseManager" value="true(Action=warn)"/>
            <!--
               DESCRIPTION:
                    Warn when there's orphaned relationship
            -->
            <property name="openjpa.OrphanedKeyAction" value="log(Channel=Orphans, Level=ERROR)"/>
            <!--
            <property name="openjpa.jdbc.SynchronizeMappings"
                      value="buildSchema(ForeignKeys=true)"/>
            -->
        </properties>
        
    </persistence-unit>

</persistence>

