<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
            http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            ">

    <!-- ######################### -->
    <!-- # DataSource              -->
    <!-- ######################### -->
    <bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
        <property name="url" value="${db.url}" />
        <property name="driverClassName" value="${db.driverName}" />
    </bean>


    <!-- ######################### -->
    <!-- # JDO & Tx setup          -->
    <!-- ######################### -->
    <bean name="jpaDialect" class="org.springframework.orm.jpa.vendor.OpenJpaDialect" />
    <bean name="jpaVendorAdapater" class="org.springframework.orm.jpa.vendor.OpenJpaVendorAdapter" />
    <bean name="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="jpaDialect" ref="jpaDialect" />
        <property name="jpaVendorAdapter" ref="jpaVendorAdapater" />
        <property name="persistenceXmlLocation" value="classpath:persistence.xml" />
        <property name="persistenceUnitName" value="miniWikiPersistenceUnit" />
        <!--
            The following will need JVM to be started with
               -javaagent:/path/to/spring-agent.jar
        -->
        <property name="loadTimeWeaver">
            <bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"/>
        </property>
    </bean>
    <bean name="jpaTemplate" class="org.springframework.orm.jpa.JpaTemplate">
        <constructor-arg index="0" ref="entityManagerFactory" />
        <property name="jpaDialect" ref="jpaDialect" />
    </bean>
    <bean name="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <constructor-arg index="0" ref="entityManagerFactory" />
        <property name="jpaDialect" ref="jpaDialect" />
    </bean>
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="get*"
                       propagation="REQUIRED"
                       read-only="true"/>
            <tx:method name="*"
                       propagation="REQUIRED"
                       read-only="false"/>
        </tx:attributes>
    </tx:advice>
    <tx:advice id="txWriteOnlyAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="*"
                       propagation="REQUIRED"
                       read-only="false" />
        </tx:attributes>
    </tx:advice>
    <aop:config>

        <aop:pointcut id="pcSetupService"
                      type="aspectj"
                      expression="execution(* org.tmjee.miniwiki.core.service.SetupService.*(..))" />
        <aop:pointcut id="pcUserManagementService"
                      type="aspectj"
                      expression="execution(* org.tmjee.miniwiki.core.service.UserManagementService.*(..))" />
        <aop:pointcut id="pcTemplateManagementService"
                      type="aspectj"
                      expression="execution(* org.tmjee.miniwiki.core.service.TemplateManagementService.*(..))" />
        <!--
        <aop:pointcut id="pcUiObjectToJpaObjectDozerBeanFactory"
                      type="aspectj"
                      expression="execution(* org.tmjee.miniwiki.core.service.UiObjectToJpaObjectDozerBeanFactory.*(..))" />
        -->

        <aop:advisor advice-ref="txAdvice"
                     pointcut-ref="pcSetupService" />
        <aop:advisor advice-ref="txAdvice"
                     pointcut-ref="pcUserManagementService" />
        <!--
        <aop:advisor advice-ref="txAdvice"
                     pointcut-ref="pcUiObjectToJpaObjectDozerBeanFactory" />
        -->
    </aop:config>




    <!-- ######################### -->
    <!-- # Configurations          -->
    <!-- ######################### -->
    <bean name="miniWikiConfig" class="org.tmjee.miniwiki.core.spring.factory.MiniWikiConfigFactoryBean">
    </bean>
    <bean name="dozerBeanMapper" class="net.sf.dozer.util.mapping.spring.DozerBeanMapperFactoryBean">
        <property name="mappingFiles">
            <list>
                <value>beansMappings.xml</value>
            </list>
        </property>
        <property name="factories">
            <map>
                <entry key="org.tmjee.miniwiki.core.service.UiObjectToJpaObjectDozerBeanFactory">
                    <ref bean="uiObjectToJpaObjectDozerBeanFactory" />
                </entry>
            </map>
        </property>
    </bean>


    <!-- ######################### -->
    <!-- # Services setup          -->
    <!-- ######################### -->
    <bean name="setupService" class="org.tmjee.miniwiki.core.service.SetupService">
        <constructor-arg index="0" ref="jpaTemplate" />
        <property name="connectionUsername" value="${db.username}" />
        <property name="connectionUrl" value="${db.url}"/>
        <property name="connectionPassword" value="${db.password}" />
        <property name="connectionDriver" value="${db.driverName}" />
    </bean>
    <bean name="uiObjectToJpaObjectDozerBeanFactory" class="org.tmjee.miniwiki.core.service.UiObjectToJpaObjectDozerBeanFactory">
        <constructor-arg index="0" ref="jpaTemplate" />
    </bean>
    <bean name="userManagementService" class="org.tmjee.miniwiki.core.service.UserManagementService">
        <constructor-arg index="0" ref="jpaTemplate" />
        <constructor-arg index="1" ref="miniWikiConfig" />
        <constructor-arg index="2" ref="dozerBeanMapper" />
    </bean>
    <bean name="templateManagementService" class="org.tmjee.miniwiki.core.service.TemplateManagementService">
    </bean>

</beans>